@import "tailwindcss";

@theme {
  --translate-101: 101%;
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
